#!/usr/bin/make -f

#export DH_VERBOSE=1
#export DEB_BUILD_MAINT_OPTIONS=hardening=+all,-pie

%:
	dh $@ --parallel --with autoreconf

override_dh_auto_build:
	dh_auto_build -- V=1

override_dh_strip:
	dh_strip --dbg-package=libfabric1-dbg

override_dh_installdocs:
	dh_installdocs --link-doc=libfabric1



